---
const { url, title } = Astro.props;
---
<div class="flex flex-col">
    <img src={url} class="rounded-lg border border-emerald-600 border-2" />
    <p class="text-emerald-950 font-body">{title}</p>
</div>